@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");
body{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

.main{
    width: 100%;
}

nav{
    width: 100%;
    height: 80px;
    line-height: 80px;
    display: flex;
    justify-content: space-between;
}

.logo a{
    font-size: 39px;
    color: rgb(255, 255, 255);
    font-family: "Poppins", sans-sefir;
    margin-left: 100px;
    transition: 0.5s all ease;
    text-shadow: 1px 1px 11px rgb(100, 92, 202);
}

a{
    text-decoration: none;
    font-family: "Poppins", sans-sefir;
    color: white;
    font-size: 20px;
    text-shadow: 1px 1px 11px rgb(100, 92, 202);
}

ul{
    margin: 0px;
    margin-right: 100px;
}

ul li{
    float: left;
    padding: 0px 10px;
    list-style: none;
}

ul li a:hover{
    color: black;
}

.header{
    background-image: url(kaqik.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
}

.content{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    color: white;
    text-shadow: 1px 1px 11px rgb(100, 92, 202);
    font-family: "Poppins", sans-sefir;
    text-align: center;
}

.content h1{
    font-size: 50px;
}

.content p{
    padding: 0px 50px;
    font-size: 20px;
}

button{
    background: none;
    border: 1px solid white;
    color: white;
    font-size: 18px;
    padding: 10px 25px;
    border-radius: 6px;
    transition: 0.5s all ease;
    border-radius: 50px;
    box-shadow: 0 3px 8px 2px rgb(60 60 60 / 30%);
    margin-top: 30px;
}

button:hover{
    background: black;
    color: yellowgreen;
}

.overlay{
    background: rgba(0,0,0,.7);
    height: 100vh;
}